$color-secondary: #D08181;
$color-primary: #355F8B;
$color-grey900:  #000000;
// $color-grey700: #444444;
$color-grey600: #888;
$color-grey550: #A9A9A9;
$color-grey520: #C4C4C4;
$color-grey500: #D5D5D5;
$color-grey400: #E0E0E0;
$color-grey300: #EEEEEE;
$color-grey100: #F5F6F6;
$color-white: #FFF;

// $color-kb-red: #E87E7E;
// $color-kb-blue: #3591C5;
// $color-kb-green: #5CC1A9;
// $color-kb-brown: #A86556;
// $color-kb-orange: #EEA12E;
// $color-kb-yellow: #DEBE4E;
// $color-kb-black: #283C43;


$color-kb-red: #cc2525;
$color-kb-blue: #0e6edb;
$color-kb-green: #09b02d;
$color-kb-brown: #926156;
$color-kb-orange: #e77e15;
$color-kb-yellow: #eebb05;
$color-kb-black: #283C43;

