.locationIcon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 3px solid rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}