.vechileProgressBar {
  margin-left: auto;
  margin-right: 30px;
  border: none;
  width: 100%;
  // 要有高
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  .vechileProgressBar-before {
    content: "";
    position: relative;
    display: block;
    // 才能有高趴數
    height: 50%;
    border-right: 2px solid $color-grey520;
  }

  .vechileProgressBar-after {
    content: "";
    position: relative;
    display: block;
    // 才能有高趴數
    height: 50%;
    border-right: 2px solid $color-grey520;
  }
}

.vechileProgressBar-dot {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: rgb(122, 113, 113);
  position: absolute;
  z-index: 5;
  border-radius: 100%;
  right: 0;
  transform: translate(50%, -50%);
  // border: none;
  box-sizing: border-box;
  border: 2px solid $color-grey520;
}
.busArrival {
  border-right: 2px solid $color-secondary !important;
}
.busDeparture {
  border-right: 2px solid $color-secondary !important;
}
.busStopByStop {
  background-color: $color-secondary !important;
  border: 2px solid $color-secondary !important;
}
.busWillStop {
  background-color: $color-primary !important;
  border: 2px solid $color-primary !important;
}
.busNotInService {
  color: $color-white;
  background-color: $color-grey550;
  border: 2px solid $color-grey550;
}

.timeBar {
  transition: 1s;
  transition-timing-function: linear;
  height: 10px;
}